{% extends 'base.html' %}

{% block content %}
<br><br>
<div class="d-flex justify-content-start flex-wrap">

    {% for i in range(10) %}
    <div class="p-2">
        <div class="card" style="width: 18rem;">
            <img src="https://images.pexels.com/photos/807598/pexels-photo-807598.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
{% endblock  %}