{% extends 'base.html' %}

{% block content %}
<br><br><br>
<div class="d-flex justify-content-start flex-wrap">
    {% raw %}
    <div class="p-3" ng-repeat=" asset in allAsset">
        <div class="card position-relative" style="width: 18rem;box-shadow: 0px 0px 5px black;">
            <div class="position-relative" ng-switch="asset.typp">
                <!-- <div class="btn btn-info active "></div> -->
                <span class="badge rounded-pill text-bg-info position-absolute top-0 start-100 translate-middle">{{asset.typp}}</span>
                <img ng-switch-when="graphics" ng-src="{{asset.contentsrc}}" class="card-img-top" alt="..." width="300" height="250">
                <div ng-switch-when="video" class="ratio ratio-1x1">
                <iframe ng-src="{{asset.contentsrc}}" title="YouTube video" allowfullscreen></iframe>
                </div>
            </div>

            <div class="card-body">
                <h5 class="card-title">{{asset.title}}</h5>
                <p class="card-text">{{asset.description}}</p>
                <a ng-href="{{asset.visite}}" class="btn btn-primary">Visit</a>
                <a ng-href="{{asset.detail}}" class="btn btn-primary">Detail</a>
            </div>
        </div>
    </div>
    {% endraw %}
</div>
{% endblock  %}

{% block script %}
  $scope.mainctg = "";
  $scope.subctg = "";
  $scope.genre = "";
  $scope.allAsset = [];
  $scope.q = ""
  $http.get(`/search?f=asset&q=&main=${$scope.mainctg}&sub=${$scope.subctg}&genre=${$scope.genre}&user=`)
    .then(function(response) {
        $scope.allAsset = response.data;
    });
  $scope.find = function() {
    $http.get(`/search?f=asset&q=${$scope.q}&main=${$scope.mainctg}&sub=${$scope.subctg}&genre=${$scope.genre}&user=`)
    .then(function(response) {
        $scope.allAsset = response.data;
    });
  }
{% endblock %}