{% extends 'base.html' %}

{% block content %}
<br><br><br>
<div class="d-flex justify-content-start flex-wrap">
    {% raw %}
    <div class="p-3" ng-repeat=" asset in allAsset">
        <div class="card position-relative" style="width: 18rem;box-shadow: 0px 0px 5px black;">
            <div class="position-relative" ng-switch="asset.typp">
                <!-- <div class="btn btn-info active "></div> -->
                <span class="badge rounded-pill text-bg-info position-absolute top-0 start-100 translate-middle">{{asset.typp}}</span>
                <span ng-show="asset.marked" class="position-absolute top-100 end-0">
                    <svg fill="#737300" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 24 24">
                        <path d="M 6 2 C 5.861875 2 5.7278809 2.0143848 5.5976562 2.0410156 C 4.686084 2.2274316 4 3.033125 4 4 L 4 22 L 12 19 L 20 22 L 20 4 C 20 3.8625 19.985742 3.7275391 19.958984 3.5976562 C 19.799199 2.8163086 19.183691 2.2008008 18.402344 2.0410156 C 18.272119 2.0143848 18.138125 2 18 2 L 6 2 z"></path>
                    </svg>
                </span>
                <img ng-switch-when="graphics" ng-src="{{asset.contentsrc}}" class="card-img-top" alt="..." width="300" height="250">
                <div ng-switch-when="video" class="ratio ratio-1x1">
                <iframe ng-src="{{asset.contentsrc}}" title="YouTube video" allowfullscreen></iframe>
                </div>
                <img ng-switch-when="audio" src="https://thumbs.dreamstime.com/b/radio-wave-sound-icon-vector-isolated-electric-signal-171471846.jpg" class="card-img-top" alt="..." width="300" height="250">
            </div>

            <div class="card-body">
                <h5 class="card-title">{{asset.title}}</h5>
                <p class="card-text">{{asset.description}}</p>
                <a ng-href="{{asset.visite}}" class="btn btn-primary">Visit</a>
                <a ng-href="{{asset.detail}}" class="btn btn-primary">Detail</a>
            </div>
        </div>
    </div>
    {% endraw %}
</div>
<div class="d-flex justify-content-between" style="border: 1px solid black;border-radius: 10px;width: 75%;margin-left: 12.5%;">
  <button type="button" class="btn btn-outline-secondary" ng-click="turnPage(-1)">Previous</button>
  {% raw %}
  <div class="p-2">Page {{pageno}}</div>
  {% endraw %}
  <button type="button" class="btn btn-outline-secondary" ng-click="turnPage(1)">Next</button>
</div>
{% endblock  %}

{% block script %}
    $scope.mainctg = "";
    $scope.subctg = "";
    $scope.genre = "";
    $scope.allAsset = [];
    $scope.q = ""

    $scope.pageno = 1;

    $scope.turnPage = function(a){
        $scope.pageno+=a;
        $scope.pageno = Math.max($scope.pageno,1);
        if($scope.allAsset.length==0 && a==1){
            $scope.pageno-=1;
            return;
        }
        $scope.find();
    }

  $scope.find = function() {
    $http.get(`/search?f=asset&q=${$scope.q}&main=${$scope.mainctg}&sub=${$scope.subctg}&genre=${$scope.genre}&user=&page=${$scope.pageno}`)
    .then(function(response) {
        $scope.allAsset = response.data;
    });
  }
  $scope.find();
{% endblock %}