<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>370Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body
{% if backimage %}
style="background-image: url({{backimage}}); width: 100%; height: 50vh; background-repeat: no-repeat; background-size: cover;background-attachment: fixed;"
{% endif %}
 ng-app="myApp" ng-controller="myCtrl"
>
    <nav class="navbar shadow-lg fixed-top navbar-expand-lg" data-bs-theme="light" style="backdrop-filter: blur(10px);">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand text-info" href="#">KTMS</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <button class="btn btn-info" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft" aria-controls="offcanvasLeft">
                Filter
            </button>
            </li>
            {% for name,link in navItems %}
            <li class="nav-item" style="padding: 0px 3px;">
            <a type="button" class="btn btn-dark" href="{{link}}">
                {{name}}
            </a>
            </li>
            {% endfor %}
        </ul>
        <form class="d-flex" role="search">
            <div class="dropdown">
            <input class="form-control me-2 dropdown-toggle" type="search" placeholder="Search" aria-label="Search" ng-model="q" ng-change="find()" data-bs-toggle="dropdown" aria-expanded="true"/>
            <ul class="dropdown-menu w-6 overflow-auto">
              {% raw %}
              <li class="p-2" ng-repeat="x in Search_datas">
                <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" ng-href="{{x.detail}}">{{x.title}}</a>
              </li>
              {% endraw %}
            </ul>
            </div>
            {% if not profile %}
            <a class="btn btn-success" href="/login">Login</a>
            {% else %}
            <div class="dropdown dropstart">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{profile}}
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/myprofile">Profile</a></li>
                <li><a class="dropdown-item" href="/myupload">My uploads</a></li>
                <li><a class="dropdown-item" href="/logout">logout</a></li>
            </ul>
            </div>
            {% endif %}
        </form>
        </div>
    </div>
    </nav>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasLeft" aria-labelledby="offcanvasLeftLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLeftLabel">Filters:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <h5>Genre:</h5>
        <ul class="list-group">
        {% raw %}
        <li class="list-group-item" ng-repeat="x in offcanvas['genre']">
            <input class="form-check-input me-1" type="checkbox" ng-model="x.selected" value="" id="genre{{x.name}}">
            <label class="form-check-label stretched-link" for="genre{{x.name}}">{{x.name}}</label>
        </li>
        {% endraw %}
        </ul>
        <br>
        <h5>Main Category:</h5>
        <ul class="list-group">
        {% raw %}
        <li class="list-group-item" ng-repeat="x in offcanvas['main']">
            <input class="form-check-input me-1" type="checkbox" ng-model="x.selected" value="" id="main{{x.name}}">
            <label class="form-check-label stretched-link" for="main{{x.name}}">{{x.name}}</label>
        </li>
        {% endraw %}
        </ul>
        <br>
        <h5>Sub Category:</h5>
        <ul class="list-group">
        {% raw %}
        <li class="list-group-item" ng-repeat="x in offcanvas['sub']">
            <input class="form-check-input me-1" type="checkbox" ng-model="x.selected" value="" id="sub{{x.name}}">
            <label class="form-check-label stretched-link" for="sub{{x.name}}">{{x.name}}</label>
        </li>
        {% endraw %}
        </ul>
        <br>
        <button type="button" class="btn btn-outline-success" ng-click="getSelected()">Get</button>
    </div>
    </div>
    {% block content %}{% endblock %}

    {% if Footer %}
    <br><br><br><br><br>
<div class="container" > 
  <footer class="py-5"> 
    <div class="row"> 
      <div class="col-6 col-md-2 mb-3"> 
        <h5>KTMS</h5> <ul class="nav flex-column"> 
          <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a href="/assets" class="nav-link p-0 text-body-secondary">Assets</a></li>
          <li class="nav-item mb-2"><a href="/bookmarks" class="nav-link p-0 text-body-secondary">Bookmarks</a></li>
          <li class="nav-item mb-2"><a href="/myuploads" class="nav-link p-0 text-body-secondary">Myuploads</a></li> 
          <li class="nav-item mb-2"><a href="/signup" class="nav-link p-0 text-body-secondary">Sign Up</a></li> 
        </ul> 
      </div> 
      <div class="col-6 col-md-2 mb-3"> 
        <h5>Contact</h5> 
        <ul class="nav flex-column"> 
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FaceBook</a></li> 
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Instagram</a></li> 
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Discord</a></li> 
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Email</a></li> 
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Help center</a></li> 
        </ul> 
      </div> 
      <div class="col-md-5 offset-md-1 mb-3"> 
        <form> 
          <h5>Subscribe to our newsletter</h5> 
          <p>Monthly digest of what's new and exciting from us.</p> 
          <div class="d-flex flex-column flex-sm-row w-100 gap-2"> 
            <label for="newsletter1" class="visually-hidden">Email address</label> 
            <input id="newsletter1" type="email" class="form-control" placeholder="Email address"> 
            <button class="btn btn-primary" type="button">Subscribe</button> 
          </div> 
        </form> 
      </div> 
    </div> 
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top"> 
      <p>© 2025 Company, Inc. All rights reserved.</p> 
      <ul class="list-unstyled d-flex"> 
        <li class="ms-3">
          <a class="link-body-emphasis" href="#" aria-label="Instagram">
          <svg class="bi" width="24" height="24">
            <use xlink:href="#instagram"></use>
          </svg>
        </a>
      </li> 
      <li class="ms-3">
        <a class="link-body-emphasis" href="#" aria-label="Facebook">
          <svg class="bi" width="24" height="24" aria-hidden="true">
            <use xlink:href="#facebook"></use>
          </svg>
        </a>
      </li> 
    </ul> 
  </div> 
</footer> 
</div>
{% endif %}
<script>
var app = angular.module('myApp', []);
// Allow safe loading of common video providers in iframes
app.config(function($sceDelegateProvider) {
  $sceDelegateProvider.resourceUrlWhitelist([
    'self',
    'http://www.youtube.com/**', 'https://www.youtube.com/**',
    'http://youtube.com/**', 'https://youtube.com/**',
    'http://youtu.be/**', 'https://youtu.be/**',
    'http://www.youtube-nocookie.com/**', 'https://www.youtube-nocookie.com/**',
    'http://player.vimeo.com/**', 'https://player.vimeo.com/**'
  ]);
});

// Filter to convert regular video links to embeddable URLs
app.filter('toEmbed', function() {
  return function(url) {
    if (!url) return url;
    try {
      // YouTube (watch, share, or shorts)
      var ytId = null;
      var m;
      if ((m = url.match(/[?&]v=([^&#]+)/))) ytId = m[1];
      if (!ytId && (m = url.match(/youtu\.be\/([^?&#]+)/))) ytId = m[1];
      if (!ytId && (m = url.match(/youtube\.com\/shorts\/([^?&#]+)/))) ytId = m[1];
      if (ytId) return 'https://www.youtube.com/embed/' + ytId;

      // Vimeo simple numeric id
      if ((m = url.match(/vimeo\.com\/(?:video\/)?(\d+)/))) {
        return 'https://player.vimeo.com/video/' + m[1];
      }
    } catch (e) {}
    return url;
  };
});

// Filter to trust a URL for use in an iframe src
app.filter('trustAsResourceUrl', function($sce) {
  return function(val) {
    return $sce.trustAsResourceUrl(val);
  };
});
app.controller('myCtrl', function($scope, $http) {
    $scope.Search_datas = [];
  {% block script %}
  
  {% endblock %}
  $scope.offcanvas = {};
  $scope.mainlist = [];
  $scope.sublist = [];
  $scope.genrelist = [];

  $scope.getSelected = function(){
    $scope.mainlist = [];
    $scope.sublist = [];
    $scope.genrelist = [];
    $scope.offcanvas["genre"].forEach((item)=>{
        if(item.selected) $scope.genrelist.push(item.name);
    });
    $scope.offcanvas["main"].forEach((item)=>{
        if(item.selected) $scope.mainlist.push(item.name);
    });
    $scope.offcanvas["sub"].forEach((item)=>{
        if(item.selected) $scope.sublist.push(item.name);
    });
    $scope.mainctg = $scope.mainlist.join();
    $scope.subctg = $scope.sublist.join();
    $scope.genre = $scope.genrelist.join();
    // console.log($scope.genre);
    // console.log($scope.mainctg);
    // console.log($scope.subctg);
    $scope.find();
  }

  $http.get("/search?f=offcanvas")
    .then(function(response) {
        $scope.offcanvas = response.data;
    });

});
</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>
</html>