{% extends 'base.html' %}

{% block content %}
<br><br><br>
{% if getDetail %}
<div class="container" style="backdrop-filter: blur(10px);">
  <h1 class="text-light">{{getDetail["asset"][0]}}</h1>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" style="background-color: none;">
        <h5>Type: <span class="badge text-bg-info">{{getDetail["asset"][1]}}</span></h5>
    </li>
    <li class="list-group-item">
        <h5>Uploaded by:</h5>
        <p>{{getDetail["owner"][0]}}</p>
    </li>
    <li class="list-group-item">
        <h5>Website:</h5>
        <a href="">{{getDetail["asset"][2]}}</a>
    </li>
    <li class="list-group-item">
        <h5>Description</h5>
        <p>{{getDetail["asset"][3]}}</p>
    </li>
    <li class="list-group-item">
        <span class="badge text-bg-secondary">Created:</span>
        <span class="badge text-bg-success">{{getDetail["asset"][4]}}</span>
        <span class="badge text-bg-secondary">Updated:</span>
        <span class="badge text-bg-success">{{getDetail["asset"][5]}}</span>
    </li>
    <li class="list-group-item">
        <h5>Main Category</h5>
        {% for item in getDetail["main"] %}
        <p>{{item[0]}}</p>
        {% endfor %}
    </li>
    <li class="list-group-item">
        <h5>Sub Category</h5>
        {% for item in getDetail["sub"] %}
        <p>{{item[0]}}</p>
        {% endfor %}
    </li>
    <li class="list-group-item">
        <h5>Genre</h5>
        {% for item in getDetail["genre"] %}
        <p>{{item[0]}}</p>
        {% endfor %}
    </li>
  </ul>
</div>
{% else %}
<h1>Details not found</h1>
{% endif %}

{% endblock  %}

{% block script %}
 $scope.q="";
  $scope.find = function() {
    $http.get(`/search?f=search&q=${$scope.q}`)
    .then(function(response) {
        $scope.Search_datas = response.data;
    });
  }
{% endblock %}