{% extends 'base.html' %}

{% block content %}
<br><br><br>
{% if getDetail %}
<div class="container" style="backdrop-filter: blur(10px);">
    <div>
        {% if getDetail["asset"][1] == "graphics" %}
        <img src="{{getDetail["asset"][7]}}" alt="..." width="400" height="300">
        {% elif getDetail["asset"][1] == "video" %}
        <div class="ratio ratio-16x9">
        <iframe src="{{getDetail["asset"][7]}}" title="YouTube video" allowfullscreen></iframe>
        </div>
        {% endif %}
    </div>
  <h1 class="text-light">{{getDetail["asset"][0]}}</h1>
  <ul class="list-group list-group-flush position-relative">
    <li class="list-group-item" style="background-color: none;">
        <h5>Type: <span class="badge text-bg-info">{{getDetail["asset"][1]}}</span></h5>
    </li>
    <li class="list-group-item">
        <h5>Uploaded by:</h5>
        <p>
            {% if profile == getDetail["owner"][0] %}
            <span class="badge text-bg-success">you:</span>
            {% endif %}
            <span class="badge text-bg-secondary">{{getDetail["owner"][0]}}</span>
        </p>
    </li>
    <li class="list-group-item">
        <h5>Website:</h5>
        <a href="">{{getDetail["asset"][2]}}</a>
    </li>
    <li class="list-group-item">
        <h5>Description</h5>
        <p>{{getDetail["asset"][3]}}</p>
    </li>
    <li class="list-group-item">
        <span class="badge text-bg-secondary">Created:</span>
        <span class="badge text-bg-success">{{getDetail["asset"][4]}}</span>
        <span class="badge text-bg-secondary">Updated:</span>
        <span class="badge text-bg-success">{{getDetail["asset"][5]}}</span>
    </li>
    <li class="list-group-item">
        <h5>Main Category</h5>
        {% for item in getDetail["main"] %}
        <p>{{item[0]}}</p>
        {% endfor %}
    </li>
    <li class="list-group-item">
        <h5>Sub Category</h5>
        {% for item in getDetail["sub"] %}
        <p>{{item[0]}}</p>
        {% endfor %}
    </li>
    <li class="list-group-item">
        <h5>Genre</h5>
        {% for item in getDetail["genre"] %}
        <p>{{item[0]}}</p>
        {% endfor %}
    </li>

    <div class="position-absolute top-0 end-0">
        {% if profile == getDetail["owner"][0] %}
        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteconfirmModal">Delete</button>
        {% endif %}
        <button type="button" class="btn btn-outline-light" ng-click="mark()" ng-switch="marked">
        <svg fill="#000000" ng-switch-when="add"
            data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-custom-class="custom-tooltip"
            data-bs-title="This top tooltip is themed via CSS variables."
            type="button" class="btn" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" 
            width="70" height="70" viewBox="0 0 50 50">
        <path d="M 37 48 C 36.824219 48 36.652344 47.953125 36.496094 47.863281 L 25 41.15625 L 13.503906 47.863281 C 13.195313 48.042969 12.8125 48.046875 12.503906 47.867188 C 12.191406 47.6875 12 47.359375 12 47 L 12 3 C 12 2.449219 12.449219 2 13 2 L 37 2 C 37.554688 2 38 2.449219 38 3 L 38 47 C 38 47.359375 37.808594 47.6875 37.496094 47.867188 C 37.34375 47.957031 37.171875 48 37 48 Z"></path>
        </svg>
        <svg fill="#fcba03" ng-switch-when="remove"
            data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-custom-class="custom-tooltip"
            data-bs-title="This top tooltip is themed via CSS variables."
            type="button" class="btn" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" 
            width="70" height="70" viewBox="0 0 50 50">
        <path d="M 37 48 C 36.824219 48 36.652344 47.953125 36.496094 47.863281 L 25 41.15625 L 13.503906 47.863281 C 13.195313 48.042969 12.8125 48.046875 12.503906 47.867188 C 12.191406 47.6875 12 47.359375 12 47 L 12 3 C 12 2.449219 12.449219 2 13 2 L 37 2 C 37.554688 2 38 2.449219 38 3 L 38 47 C 38 47.359375 37.808594 47.6875 37.496094 47.867188 C 37.34375 47.957031 37.171875 48 37 48 Z"></path>
        </svg>
        </button>
    </div>
  </ul>
</div>
{% else %}
<h1>Details not found</h1>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="deleteconfirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Do you Want to delete this asset?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        This action cannot be undone!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cencel</button>
        <a class="btn btn-outline-danger" href="/delete?type=asset&id={{getDetail["asset"][6]}}">Yes Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock  %}

{% block script %}
 $scope.marked = "{{"remove" if getDetail['bookmark'] else "add"}}";
 $scope.q="";
  $scope.find = function() {
    $http.get(`/search?f=search&q=${$scope.q}`)
    .then(function(response) {
        $scope.Search_datas = response.data;
    });
  }
  $scope.asset_id = {{getDetail["asset"][6]}};

  $scope.mark = function() {
    $http.get(`/bookmark?id=${$scope.asset_id}&q=${$scope.marked}`)
    .then(function(response) {
        $scope.marked = response.data;
        console.log($scope.marked);
    });
  }
{% endblock %}