{% extends 'base.html' %}

{% block content %}
<div class="container-fluid text-center position-relative" style="background-image: url(https://images.pexels.com/photos/443446/pexels-photo-443446.jpeg); width: 100%; height: 50vh; background-repeat: no-repeat; background-size: cover;">
<h1 class="position-absolute top-50 start-50 translate-middle text-info">Welcome</h1>
</div>

<h1>This is home</h1>
{% endblock  %}

{% block script %}
 $scope.q="";
  $scope.find = function() {
    $http.get(`/search?f=search&q=${$scope.q}`)
    .then(function(response) {
        $scope.Search_datas = response.data;
    });
  }
{% endblock %}