{% extends 'base.html' %}

{% block content %}
<div class="container position-relative vh-100">
        <div  class="position-absolute top-50 start-50 translate-middle p-5 text-light" style="backdrop-filter: blur(10px);">
            <form action="/signup" method="post">
            <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="id">
            </div>
            <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" name="pass">
            </div>
            <div class="input-group mb-3">
            <span class="input-group-text">First Name</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" name="fname">
            </div>
            <div class="input-group mb-3">
            <span class="input-group-text">Last Name</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" name="lname">
            </div>
            <div class="input-group mb-3">
            <span class="input-group-text">Email</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" name="email">
            </div>
            <input type="submit" class="btn btn-success" value="Sign in">
            </form>
        </div>

    </div>
{% endblock  %}