{% extends 'base.html' %}

{% block content %}
<br><br><br>
<div class="container" style="backdrop-filter: blur(10px);">
    <h1>Upload An Asset</h1>
    <form action="/upload" , method="post">
    <div class="input-group mb-3 w-75">
    <span class="input-group-text" id="title">Title</span>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="title", name="title">
    </div>

    <div class="input-group mb-3 w-75">
    <span class="input-group-text" id="link">Site Link</span>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="link" name="site">
    </div>

    <div class="input-group mb-3 w-75">
    <span class="input-group-text" id="clink">Content Link</span>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="clink" name="clink">
    </div>

    <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea class="form-control" id="description" rows="3" name="description" name="description"></textarea>
    </div>

    <select class="form-select w-25" aria-label="Default select example" name="type">
    <option selected>Select a type</option>
    <option value="video">Video</option>
    <option value="audio">Audio</option>
    <option value="graphics">Graphics</option>
    </select>

    <div class="mb-3">
    <label for="mainctg" class="form-label">Main Category</label>
    <textarea class="form-control" id="mainctg" rows="3" name="main" placeholder="input as a,b,c"></textarea>
    </div>

    <div class="mb-3">
    <label for="subctg" class="form-label">Sub Category</label>
    <textarea class="form-control" id="subctg" rows="3" name="sub" placeholder="input as a,b,c"></textarea>
    </div>

    <div class="mb-3">
    <label for="genre" class="form-label">Genre</label>
    <textarea class="form-control" id="genre" rows="3" name="genre" placeholder="input as a,b,c"></textarea>
    </div>
    <input class="btn btn-success" type="submit" value="Submit">
    </form>
    <br>
</div>
{% endblock  %}