{% extends 'base.html' %}

{% block content %}
<br><br>
<div class="container position-relative vh-100">
    <div  class="position-absolute top-50 start-50 translate-middle p-5 text-dark" style="backdrop-filter: blur(10px);">
    <form action="/upload" method="post">
        <div class="mb-3">
            <label class="form-label text-light">Title</label>
            <input class="form-control" type="text" placeholder="Title" aria-label="default input example" name="title">
        </div>
        <div class="mb-3">
            <label class="form-label text-light">Description</label>
            <input class="form-control" type="text" placeholder="Description" aria-label="default input example" name="description">
        </div>
        <div class="mb-3">
            <label class="form-label text-light">Site Link</label>
            <input class="form-control" type="text" placeholder="Site Link" aria-label="default input example" name="site">
        </div>
        <div class="mb-3">
            <label class="form-label text-light">Main category</label>
            <input class="form-control" type="text" placeholder="Main Category" aria-label="default input example" name="mainCategory">
        </div>
        <div class="mb-3">
            <label class="form-label text-light">Sub category</label>
            <input class="form-control" type="text" placeholder="Sub Category" aria-label="default input example" name="subCategory">
        </div>
        <select class="form-select" aria-label="Default select example" name="type">
        <option selected>Type</option>
        <option value="video">Video</option>
        <option value="graphics">Graphics</option>
        <option value="audio">Audio</option>
        </select>
        <input type="submit" class="btn btn-success" value="Upload">
    </form>
    </div>
</div>
{% endblock  %}